<h2>Base</h2>

<h1>h1 Titulo</h1>
<h2>h2 Titulo</h2>
<h3>h3 Titulo</h3>
<h4>h4 Titulo</h4>
<h5>h5 Titulo</h5>
<h6>h6 Titulo</h6>

<p>Programacion Angular</p>

<h3>Links</h3>
<a class="app-a">Link1</a>
<a class="app-a">Link2</a>
<a class="app-a">Link3</a>

<h3>Botones</h3>
<button class='app-button'>boton</button>

<h3>code</h3>

<code>const parameter = 100</code>

<h3>input</h3>

<input type="text" class="app-input"/>

<h2>Mixins</h2>
<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>
<div class="card">card mixin</div>

