$base:#fafafa;
$bas-dark:#e0e0e0;
$base-ligth:#ffffff;
$on-base:#000000;

$primary:#0277bd;
$primary-dark: #004c8c;
$primary-light:#58a5f0 ;
$on-primary: #ffffff;

$secundary:#1565c0;
$secundary-dark: #003c8f;
$secundary-light:#5e92f3 ;
$on-secundary: #ffffff;

$error: #B00020;
$on-error:#ffffff;

$success:#66bb6a;
$on-success:#ffffff;



